[data-rehype-pretty-code-figure] {
  @apply px-0 rounded-md border overflow-hidden border-zinc-200 dark:border-zinc-700;
}

/* modification with code block title  */
[data-rehype-pretty-code-figure] [data-rehype-pretty-code-title] {
  @apply h-12 m-0 flex items-center rounded-none border-b bg-zinc-50 dark:bg-transparent border-zinc-200 dark:border-zinc-700;
}

[data-rehype-pretty-code-figure] [data-rehype-pretty-code-title] .code-block-header {
  @apply flex flex-row justify-between items-center m-0 px-3 h-full w-full;}
  
  [data-rehype-pretty-code-figure] [data-rehype-pretty-code-title] .header-block-caption {
    @apply flex flex-row gap-2 items-center;
  }
  
  [data-rehype-pretty-code-figure] [data-rehype-pretty-code-title] .code-block-header button {
    @apply flex flex-row justify-center items-center h-8 w-8  hover:bg-zinc-500/15 rounded-md transition duration-100 ;}
/* here the end of code block titile modifications */
[data-rehype-pretty-code-figure] pre {
  @apply px-0 rounded-none border-zinc-200 dark:border-zinc-700;
}

[data-rehype-pretty-code-figure] code {
  @apply text-[13.5px] !leading-loose md:text-base border-none p-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-400;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-5;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.3);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-400/50 border-s-zinc-500/50;
  box-shadow: 0 0 0 3px rgba(138, 138, 142, 0.4);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-blue-300 bg-blue-300/30 border-b-2 px-1.5 py-1 shadow-none;
}

[data-rehype-pretty-code-figure] [data-chars-id="r"] {
  @apply border-red-300 bg-red-300/30;
}

[data-rehype-pretty-code-figure] [data-chars-id="y"] {
  @apply border-yellow-300 bg-yellow-300/30;
}

[data-rehype-pretty-code-figure] [data-chars-id="g"] {
  @apply border-green-300 bg-green-300/30;
}

code[data-theme*=" "] span {
  /* color: var(--shiki-light); */
  /* background: var(--shiki-light-bg); */
  @apply leading-normal text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
}

pre[data-theme*=" "],
code[data-theme*=" "] {
  @apply bg-[var(--shiki-light-bg)] dark:bg-[var(--shiki-dark-bg)];
}

 /* code {
  @apply bg-zinc-400/25 p-[2px] font-normal rounded-md after:content-['normal'];
} */
.prose :where(code):not([data-rehype-pretty-code-figure] code) {
  @apply font-normal font-sans text-[1em] bg-zinc-300/25 border border-zinc-400/20 py-[2px] px-[5px] rounded-md after:content-none before:content-none;
}

/* .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
 content: ""; 
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
 content: ""; 
} */

.subheading-anchor {
  @apply inline-flex items-center justify-center no-underline transition-colors ease-in-out hover:opacity-100 hover:text-blue-400 duration-300 font-extrabold;
}

.subheading-anchor svg {
  @apply ml-2 opacity-0 w-[0.8em] h-[0.8em] ;
}

.subheading-anchor:hover svg {
  @apply opacity-100 transition-opacity duration-300;
}

.links, .internal-links {
  @apply no-underline text-blue-500 hover:opacity-75 transition-opacity duration-75;
}

.links svg {
  @apply   w-[0.9em] h-[0.9em] ;
}

.links span {
  @apply inline-flex;
}


/* .internal-links {
  @apply no-underline text-blue-500;
} */

/* @import 'katex/dist/katex.min.css'; */

.katex, .katex .katex-mathml, .katex .katex-mathml math {
  @apply max-w-full inline-block m-0 overflow-hidden
}


.katex-html {
  @apply hidden
}

table {
  @apply block overflow-x-auto max-w-full
}